@font-face {
  font-family: "Dexa Pro";
  font-style: "normal";
  font-weight: 200;
  font-display: swap;
  src: local("Dexa Pro"),
    url("./assets/fonts/DexaPro-200-ExtraLight.otf") format("opentype");
}
@font-face {
  font-family: "Dexa Pro";
  font-style: "normal";
  font-weight: 400;
  font-display: swap;
  src: local("Dexa Pro"),
    url("./assets/fonts/DexaPro-400-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Dexa Pro";
  font-style: "normal";
  font-weight: 600;
  font-display: swap;
  src: local("Dexa Pro"),
    url("./assets/fonts/DexaPro-600-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Dexa Pro";
  font-style: "italic";
  font-weight: 700;
  font-display: swap;
  src: local("Dexa Pro"),
    url("./assets/fonts/DexaPro-700-Bold-Italic.otf") format("opentype");
}
@font-face {
  font-family: "Dexa Pro";
  font-style: "normal";
  font-weight: 700;
  font-display: swap;
  src: local("Dexa Pro"),
    url("./assets/fonts/DexaPro-700-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Dexa Pro";
  font-style: "normal";
  font-weight: 800;
  font-display: swap;
  src: local("Dexa Pro"),
    url("./assets/fonts/DexaPro-800-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "Dexa Pro";
  font-style: "normal";
  font-weight: 900;
  font-display: swap;
  src: local("Dexa Pro"),
    url("./assets/fonts/DexaPro-900-Black.otf") format("opentype");
}
@font-face {
  font-family: "Dexa Pro Narrow";
  font-style: "normal";
  font-weight: 400;
  font-display: swap;
  src: local("Dexa Pro Narrow"),
    url("./assets/fonts/DexaPro-Narrow-400-Regular.otf") format("opentype");
}

body {
  margin: 0;
  font-family: "Dexa Pro Narrow", serif;
  /* , -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.blockScroll {
  overflow: hidden !important;
}

/* hide scrollbar but allow scrolling */
body.no-scrolling {
  /* for Internet Explorer, Edge */
  -ms-overflow-style: none;
  /* for Firefox */
  scrollbar-width: none;
  overflow-y: scroll;
}

body.no-scrolling::-webkit-scrollbar {
  /* for Chrome, Safari, and Opera */
  display: none;
}
